@model Grubly.ViewModels.RecipeIndexViewModel
@{
ViewData["Title"] = "Recipes";
}


<section>

</section>

<section class="grid sm:grid-cols-3 md:grid-cols-4 gap-4">
    <aside class="border rounded-md shadow bg-white p-4 space-y-4">
        <p class="font-bold">Filters</p>

        <form class="grid grid-cols-2 sm:grid-cols-1 gap-4">
            <div class="space-y-2">
                <p>Categories</p>
                <ul>
                    @foreach(var category in @Model.Categories) {
                    <li>
                        <input type="checkbox" name="Category" id="@category.Name">
                        <label for="@category.Name">@category.Name</label>
                    </li>
                    }
                </ul>
            </div>
            <div class="space-y-2">
                <p>Ingredients</p>
                <ul>
                    @foreach(var ingredient in @Model.Ingredients) {
                    <li>
                        <input type="checkbox" name="Difficulty Level" id="@ingredient.Name">
                        <label for="@ingredient.Name">@ingredient.Name</label>
                    </li>
                    }
                </ul>
            </div>
            <div class="space-y-2">
                <p>Cuisine</p>
                <ul>
                    @foreach(var cuisineType in @Model.CuisineTypes) {
                    <li>
                        <input type="checkbox" name="Cuisine" id="@cuisineType">
                        <label for="@cuisineType">@cuisineType</label>
                    </li>
                    }
                </ul>
            </div>

            <div class="space-y-2">
                <p>Difficulty</p>
                <ul>
                    @foreach(var difficultyLevel in @Model.DifficultyLevels) {
                    <li>
                        <input type="checkbox" name="Difficulty Level" id="@difficultyLevel">
                        <label for="@difficultyLevel">@difficultyLevel</label>
                    </li>
                    }
                </ul>
            </div>

            <div class="space-x-1">
                <button class="btn btn-sm btn-primary">Apply</button>
                <button class="btn btn-sm btn-outline">Clear</button>
            </div>
        </form>
    </aside>

    <section class="sm:col-span-2 md:col-span-3 grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
        @foreach(var recipe in Model.Recipes) {
        <article class="rounded-md overflow-hidden shadow">
            <figure class="w-full h-40 bg-gray-100">
                <!-- Image can be placed here in future -->
            </figure>
            <div class="p-4 space-y-2">
                <h3 class="font-semibold">@recipe.Title</h3>

                <div class="flex items-center space-x-2">
                    <img src="/images/star-filled.svg" alt="Star Filled" class="w-4 h-4 text-gray-200" />
                    <span class="text-sm font-light">4.5 (120 reviews)</span>
                </div>

                <div class="flex space-x-4 items-center justify-between text-sm font-light">
                    <time datetime="30">30 min</time>
                    <span class="capitalize p-1 bg-gray-100 rounded">@recipe.DifficultyLevel</span>
                </div>
            </div>
        </article>
        }
    </section>

</section>