@page
@model RegisterModel
@{
ViewData["Title"] = "Register";
Layout = "_AuthLayout";
}

<div class="bg-white max-w-md shadow rounded-md p-8 space-y-6 w-full">
    <h1 class="text-xl font-bold">Create an account</h1>

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="space-y-4">

        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>

        <div>
            <label asp-for="Input.Email">Your email</label>
            <input asp-for="Input.Email" class="form-control mb-1" autocomplete="username" aria-required="true"
                placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
        </div>
        <div>
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control mb-1" autocomplete="new-password" aria-required="true"
                placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-red-500 text-sm"></span>
        </div>
        <div>
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control mb-1" autocomplete="new-password"
                aria-required="true" placeholder="Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-sm"></span>
        </div>

        <div class="flex items-center justify-between">
            <div class="flex space-x-2 text-sm text-gray-400">
                <input type="checkbox" id="rememberMe" class="accent-primary">
                <label for="rememberMe">Remember me</label>
            </div>

            <a asp-area="Identity" asp-page="/Account/ForgotPassword" class="text-primary">Forgot Password?</a>
        </div>

        <button id="registerSubmit" type="submit"
            class="w-100 btn btn-primary !rounded-sm !py-2 w-full block">Register</button>

        <p class="text-sm text-gray-400">Already signed up? <a asp-area="Identity" asp-page="/Account/Login"
                class="text-primary">Sign In</a></p>
    </form>
</div>

<div class="bg-white max-w-md shadow rounded-md p-8 space-y-6 w-full">

    <h3>Use another service to register.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
        <p>
            There are no external authentication services configured. See this <a
                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                about setting up this ASP.NET application to support logging in via external services</a>.
        </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
        class="flex items-center space-x-4 flex-wrap">
        <div>
            <p>
                @foreach (var provider in Model.ExternalLogins!)
                {
                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
            </p>
        </div>
    </form>
    }
    }

</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}